.container {
    position: relative;
    max-width: 1440px;
    height: 900px;
}

.plus {
    border-radius: 50%;
    border: 5px solid #FD835C;
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    position: relative;
    left: 305px;
    top: 96px;
  }

  .plus::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: #FD835C;
    width: 7px;
    margin-left: -5px;
    left: 50%;
    top: 5px;
    bottom: 5px;
    z-index: 9;
  }

  .plus::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: #FD835C;
    height: 7px;
    margin-top: -5px;
    top: 50%;
    left: 5px;
    right: 5px;
    z-index: 9;
  }

.registration {
    position: absolute;
    width: 755px;
    height: 430px;
    left: 305px;
    top: 35%;
    border: 5px solid #FD835C;
    box-sizing: border-box;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

input {
    font-size: 15px;
    height: 10px;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    text-align: left;
    width: 50%;
}

.rname {
    margin-top: 50px;
}

.ftype {
    margin-bottom: 40px;
}

.submit {
    background-color: #FD835C;
    border: 0;
    padding: 10px 15px;
    color: #ffffff; 
    font-size: 15px;
    font-weight: 700;
    width: 80px;
    border-radius: 25px;
    display: flex;
    position: relative;
    left: 500px;
    height: 40px;
    text-align: center;
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .container {
        position: relative;
        max-width: 360px;
        max-height: 767px;
        height: 650px;
    }
    .registration {
        position: absolute;
        width: 257px;
        height: 427.89px;
        left: 60px;
        top: 200px;
    }
    .submit {
        position: absolute;
        font-size: 12px;
        line-height: 14px;
        left: 132px;
        top: 350px;
    }
}