.container {
    position: absolute;
    width: 1444px;
    height: 891px;
    left: -4px;
    top: 109px;
    background: #F3F3F3;
}

.image {
    position: absolute;
    width: 369px;
    height: 402.5px;
    left: -5px;
}

.blurb {
    position: absolute;
    width: 687px;
    height: 687px;
    left: 692px;
    top: 151px;
}

h2 {
    position: relative;
    width: 492px;
    height: 37px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FD835C;
}

h3 {
    position: relative;
    width: 360px;
    height: 47px;
    font-size: 24px;
    line-height: 28px;
    color: #FD835C;
}

p{
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: justify;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #3D3D3D;
}